<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Бюджет</title>
</head>
<body>
<a href="/budgets" id="back">Назад</a>
    <h2>Бюджет</h2>
<hr>
<b><span>Год бюджета:</span></b>
<span id="year"></span><br>
<b><span>Транзакции:</span></b><br>
<div id="transactions"></div>
<b><span>Сумма бюджета:</span></b>
<span id="sum"></span><br>
<b><span>Баланс:</span></b>
<span id="balance"></span><br>

    <input type="button" onclick="deleteBudget()" value="Удалить">
<hr>
<h2>Редактирование бюджета</h2>
    Год бюджета: <input type="number" id="newYear" min="2020" max="2099"/><br><br>
    Сумма бюджета: <input type="number" id="newSum" step="any"><br><br>
    <input type="button" onclick="editBudget()" value="Изменить">
</body>
<script>
  const style = 'padding: 5px; margin: auto 0 5px 20px; border:1px solid black; display: inline-block;'

  const href = window.location.href
  const index = href.lastIndexOf('/')
  const id = href.substring(index + 1, href.length)

  async function getBudget() {
    const url = `http://localhost:8080/budgets/search/${id}`
    const response = await fetch(url)
    let budget = {}

    if (response.ok) {
      budget = await response.json()
      const year = document.getElementById('year')
      const transactions = document.getElementById('transactions')
      const sum = document.getElementById('sum')
      const balance = document.getElementById('balance')
      year.textContent = budget.year


      transactions.innerHTML = ''

      if (budget.transactions.length) {
        budget.transactions.forEach(async (id) => {
          transaction = await getTransaction(id)
          transactions.innerHTML += 
            `<div style="${style}">
              <b>Название транзакции:</b> <a href="/transactions/${transaction.id}">${transaction.title}</a><br>
              <b>Сумма транзакции: </b>${transaction.sum}<br>
            </div><br>`
        })
      } else
        transactions.innerHTML = '<b style="margin-left:20px;">Транзакций нет</b><br>'


      sum.textContent = budget.sum
      balance.textContent = budget.balance

      const newYear = document.getElementById('newYear')
      const newSum = document.getElementById('newSum')
      newYear.value = budget.year
      newSum.value = budget.sum
    }
    else
      alert(`Ошибка HTTP:${response.status}`)
  }

  async function editBudget() {
    const url = `http://localhost:8080/budgets/edit/${id}`
    const responseBody = {
        id: id,
        year: document.getElementById('newYear').value,
        sum: document.getElementById('newSum').value
      }
      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify(responseBody),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      })
      if (response.ok)
        getBudget()
      else
        alert('Что-то пошло не так....')
  }

  async function deleteBudget() {
    const url = `http://localhost:8080/budgets/delete/${id}`
    const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      })
      if (response.ok)
        window.location.href = 'http://localhost:8080/budgets'
      else
        alert('Что-то пошло не так....')
  }

  async function getTransaction(id) {

    const url = `http://localhost:8080/transactions/search/${id}`
    const response = await fetch(url)

    if (response.ok) {
      return await response.json()
    }
    else
      alert(`Ошибка HTTP:${response.status}`)
  }

  getBudget()
</script>
</html>
