<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Тип транзакции</title>
</head>
<body>
<a href="/transaction-types" id="back">Назад</a>
    <h2>Тип транзакции</h2>
<hr>
<b><span>Название:</span></b>
<span id="transactionTitle"></span><br>

    <input type="button" onclick="deleteTransactionType()" value="Удалить">
<hr>
<h2>Редактирование типа транзакции</h2>
  Название типа транзакции: <input type="text" id="newTitle" name="title"><br><br>
  <input type="button" onclick="editTransactionType()" value="Изменить">
</body>
<script>
  const href = window.location.href
  const index = href.lastIndexOf('/')
  const id = href.substring(index + 1, href.length)

  async function getTransactionType() {
    const url = `http://localhost:8080/transaction-types/search/${id}`
    const response = await fetch(url)
    let transactionType = {}

    if (response.ok) {
      transactionType = await response.json()
      const title = document.getElementById('transactionTitle')
      const newTitle = document.getElementById('newTitle')
      title.textContent = transactionType.title
      newTitle.value = transactionType.title
    }
    else
      alert(`Ошибка HTTP:${response.status}`)
  }

  async function editTransactionType() {
    const url = `http://localhost:8080/transaction-types/edit/${id}`
    const responseBody = {
        id: id,
        title: document.getElementById('newTitle').value
      }
      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify(responseBody),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      })
      if (response.ok)
        getTransactionType()
      else
        alert('Что-то пошло не так....')
  }

  async function deleteTransactionType() {
    const url = `http://localhost:8080/transaction-types/delete/${id}`
    const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      })
      if (response.ok)
        window.location.href = 'http://localhost:8080/transaction-types'
      else
        alert('Что-то пошло не так....')
  }

  getTransactionType()
</script>
</html>
